[Unit]
Description=MicroShift

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/
ExecStart=microshift run
Restart=always
RestartSec=30s
User=root

[Install]
WantedBy=multi-user.target
